/*  print.css 

Stylesheet for printing.
*/

html {
	font-family: Times, serif;
	font-size: 12pt;
}

body {
	margin: 1.5cm;
}

a, a:visited, a.nonexistent {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	font-size: 10pt;
}

.header, #related, #comments {
	display: none;
}

table {
    font-size: inherit;
    border: 1px solid;
    border-collapse: collapse;
    margin: 0 auto;
}

th {
    background-color: #ddd;
}

td,th { 
  border: 1px solid;
  padding: 0 0.5em;
  text-align: center;
}
