/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    /*font: 13.34px sans-serif, clean, arial, helvetica, times; */
    font-family: sans-serif, clean, arial, helvetica, times; 
    font-size: small; 
    text-align: center;
}

#home h1, h2, h3, h4, h5, h6 {
    font-size: 130%;
}

h1 {
    margin-bottom: 0.1em;
}

p {
    margin: 1em 0;
}

a {
    color: #00a;
}

a:hover {
    color: black;
}

a:visited {
    color: #a0a;
}

table {
    font-size: inherit;
}

blockquote {
    font-family: helvetica, sans-serif;
    font-style: italic;
    background-color: #CCC;
    margin-left: 2em;
    margin-right: 2em;
}

ul, ol {
    margin-left: 1.25em;
}

.highlight {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid black;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;
}

ul.posts li {
    line-height: 1.75em;
}

ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    font-size: 110%;
    text-align: justify;
    width: 40em;
    margin: 3em auto 2em auto;
    line-height: 1.5em;
}

.header {
    color: #a00;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2em;
}

a.extra {
    font-size: 0.6em;
}

.site .header #title {
    font-size: 1.2em;
}

.site .header a {
    color: #a00;
    text-decoration: none;
}

.site .header a:hover {
    color: black;
}

.site .header a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 0.5em;
}

.site .header a.extra:hover {
    color: black;
}

.site .header .rss {
    margin-left: 1em;
}

.site .header .rss img {
    border: 0;
}

.site .meta {
    color: #aaa;
}

.site .footer {
    font-size: 80%;
    color: #086;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}

.site .footer .contact {
    float: left;
    margin-right: 3em;
}

.site .footer .contact a {
    color: #8085C1;
}

.site .footer .license {
  margin-bottom: 2em;
  color: #3E423A;
  font-size: 0.9em;
  padding: 0.5em;
  text-align: left;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

/* standard */
#post #title {
    font-size: 160%;
}

#post h1, 
#post h2, 
#post h3, 
#post h4, 
#post h5, 
#post h6 {
    background-color: #af2;
}

#post h1 {
    font-size: 140%;
}

#post h2 {
    font-size: 120%;
}

#post h3 {
    font-size: 110%;
}

#post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

/* #post ul, */
/* #post ol { */
/*     margin-left: 1.25em; */
/* } */

#post code {
    border: 1px solid #ddd;
    background-color: #eef;
    /*font-size: 95%;*/
    font-size: normal;
    padding: 0 .2em;
}

#post pre code {
    border: none;
}

/* terminal */

#post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
}

#post pre.terminal code {
    background-color: #333;
}

#related {
    margin-top: 2em;
}

#related #title_related {
    background-color: #ff1;
}

#related h2 {
    margin-bottom: 1em;
}

#comments h1, 
#comments h2,
#comments h3,
#comments h4,
#comments h5,
#comments h6, {
    background-color: #ff1;
}