<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it-IT">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Manuel Paccagnella" />
   <link href="http://feeds2.feedburner.com/ManuelPaccagnella" rel="alternate"
title="Manuel Paccagnella" type="application/atom+xml" />

   <!-- Webfonts from Google -->
   <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
</head>
<body>

<div class="site">
  <div class="header">
    <a id="title" href="/">Manuel Paccagnella</a>
    <a class="extra" href="/about.html">about</a>
    <a class="extra" href="/blog.html">blog</a>
    <a class="extra" href="/search.html">search</a>
    <a class="rss" href="http://feeds2.feedburner.com/ManuelPaccagnella">
      <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
    </a>
  </div>
  
  <!--[if lt IE 7]>  
     <div id="ie6Warning">
      <h2>E' tempo di aggiornare il tuo browser!</h2>
      <p>Se stai leggendo questo messaggio, vuol dire che stai
      navigando sul web con Internet Explorer 6, un browser vecchio di
      otto anni che non è in grado di soddisfare le esigenze della
      internet moderna. Per una migliore esperienza del web,
      raccomando fortemente un upgrade
      a <a href="http://www.getfirefox.com/">Firefox</a>,
      <a href="http://www.opera.com/">Opera</a>, 
      <a href="http://www.apple.com/safari/">Safari</a> o
      <a href="http://www.google.com/chrome">Google
      Chrome</a>.</p>
      <h2>Time to upgrade your browser!</h2>
      <p>If you're reading this, you're surfing using Internet
      Explorer 6, an eight-year-old browser that cannot cope with
      the demands of the modern internet. For the best web
      experience, we strongly recommend upgrading
      to <a href="http://www.getfirefox.com/">Firefox</a>, 
      <a href="http://www.opera.com/">Opera</a>, 
      <a href="http://www.apple.com/safari/">Safari</a> or 
      <a href="http://www.google.com/chrome">Google Chrome</a>.</p>
      </div>
  <![endif]--> 

  <p class="warning">
    <strong>Warning!</strong> This blog's new home now is <a href="http://www.lambda-land.com/">here</a>.
  <p>

  {{ content }}

  <div class="banner">
    <a href='https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Function' title='JavaScript Function Example: Specifying arguments with the Function constructor'><img src='http://static.jsconf.us/promotejsv.gif' height='280' width='160' alt='JavaScript Function Example: Specifying arguments with the Function constructor'/></a>
    <br/>
    <a href="http://people.mozilla.com/~prouget/ie9/">IE9 is NOT a modern browser</a>
  </div>
  
  <div class="footer">
    <div class="contact">
      <p>
        Manuel Paccagnella<br />
	<img src="/images/email.png" alt="Il mio indirizzo email" />
      </p>
    </div>

    <div class="license">
      Licensed
      under <a href="http://creativecommons.org/licenses/by-sa/2.5/it/">Creative
      Commons</a>.<br/> 
      
      Theme and code inspired
      by <a href="http://github.com/mojombo/">Tom Preston-Werner</a>.<br/>

      Hosted by <a href='http://github.com'
      target='_blank'>GitHub</a> and powered
      by <a href='http://github.com/mojombo/jekyll'>Jekyll</a>.<br/>
    </div>    
  </div>

</div>

</body>
</html>
