---
layout: default
---

<div id="post">
  <h1 id="title">{{page.title}}</h1>
  {{page.date | date_to_string}}

  {% if page.withtoc == true %}
  <div id="toc">
    <span id="title">Table Of Contents</span>
    {% include toc.html html=content flat_toc=true %}
  </div>
  {% endif %}

  {{ content }}
</div>

<div id="related">
  <h3 id="title_related">Post Correlati</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>